<!DOCTYPE html>
<html>
<head>
<style>
body {
    font-size: 12pt;
    font-family: Calibri;
    padding : 10px;
}
table {
    border: 1px solid black;
}
th {
    border: 1px solid black;
    padding: 5px;
    background-color:grey;
    color: white;
}
td {
    border: 1px solid black;
    padding: 5px;
}
input {
    font-size: 12pt;
    font-family: Calibri;
}
</style>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device=width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>MyApp</title>
</head>
<body>
	{{{body}}}

  <input type="button" id="btnExport" value=" Exportação" />

  
</body>
</html>
<script type="text/javascript">

$("#btnExport").click(function(e) {
  var a = document.createElement('a');
  var data_type = 'data:application/vnd.ms-excel';
  var table_div = document.getElementById('dvData');
  var table_html = table_div.outerHTML.replace(/ /g, '%20');
  a.href = data_type + ', ' + table_html;
  a.download = 'filename.xls';
  a.click();
  e.preventDefault();
});
$(document).ready(function () {
     $("#btnExport").click(function (e) {
          e.preventDefault();
          var table_div = document.getElementById('divTabela');   
          // esse "\ufeff" é importante para manter os acentos         
          var blobData = new Blob(['\ufeff'+table_div.outerHTML], { type: 'application/vnd.ms-excel' });
          var url = window.URL.createObjectURL(blobData);
          var a = document.createElement('a');
          a.href = url;
          a.download = 'Meu arquivo Excel'
                a.click();
            });
        });

</script> 

