
<form action="/add-categoria" method="POST">
		<div class="container">
		  <div class="row">
		    <div class="col-sm-12">
		      <h1>Categoria</h1>
		    </div>
		    <div class="col-sm-6">
		    <input type="text" class="form-control" name="descricaoCategoria" placeholder="Categoria">
		    </div>
		    <div class="col-sm-0">
		      <button class="btn btn-primary" type="submit">Cadastrar</button>

		    </div>
		  </div>
		</div>
	</form>



