<form action="/add-item" method="POST">
		<div class="container">
		  <div class="row">
		    <div class="col-sm-12">
		      <h1>Produto</h1>
		    </div>
		    <div class="col-sm-6">
		    <input type="text" class="form-control" name="descricaoItem" placeholder="Item"></div>
		    <input type="text" class="form-control" name="codEanItem" placeholder="Cod.Ean"></div>
		    <input type="text" class="form-control" name="fkSubgrupo" placeholder="Cod.Subgrupo"></div>




		    <div class="col-sm-0">
		      <button class="btn btn-primary" type="submit">Cadastrar</button>

		    </div>
		  </div>
		</div>
	</form>
