<h1>Formulário para cadastrar usuario</h1>
<form action="/add-usuario" method="POST">
    <label>Nome</label>
    <input type="text" name="nome"><br><br>

    <label>Senha</label>
    <input type="text" name="senha"><br><br>

    <button type="submit">Cadastrar</button>
</form>