<h1>Listar Categorias</h1>





{{#each categorias }}
	<div id="dvData">
		<table id="tblResultados">
			<tr>
			  <td>{{idCategoria}}</td>
			  <td>{{descricaoCategoria}}</td>
    		  <td>{{#formatDate createdAt}}{{/formatDate}}</td>
    		  <td><a href="/del-categoria/{{idCategoria}}"><button class="btn btn-danger">Apagar</button></a></td>
			</tr>
		</table>

	</div>
	<hr>	
{{/each}}



