<h1>Listar Subgrupos</h1>

{{#each subgrupos}}
    identidicador: {{idSubgrupo}}<br>
    subgrupo: {{descricaoSubgrupo}}<br>
    cod.categoria:{{fkCategoria}}<br>
    
    
    Cadastrado: {{#formatDate createdAt}}{{/formatDate}}<br>
    <hr>
{{/each}}